In [50]:
import pandas as pd
import numpy as np

file_to_load = "purchase_data.csv"

purchase_data = pd.read_csv(file_to_load)

In [11]:
total_players = len(purchase_data["SN"].unique())
total_player_df = pd.DataFrame({"Total Players": [total_players]})
total_player_df

   Total Players
0            576

In [32]:
purchase_data.head()
number_of_unique_items = len(purchase_data["Item ID"].unique())
avg_price = purchase_data["Price"].mean()
number_of_purchases = len(purchase_data["Purchase ID"].unique())
total_revenue = purchase_data["Price"].sum()

purchasing_analysis_df = pd.DataFrame({"Number of Unique Items": [number_of_unique_items], "Average Price": [avg_price], "Number of Purchases": [number_of_purchases], "Total Revenue": [total_revenue]})
purchasing_analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

In [69]:
# "Male"
male_players_df = purchase_data.loc[purchase_data["Gender"] == "Male", :]
unique_male_players = male_players_df["SN"].unique()
num_unique_male_players = len(unique_male_players)

# "Female"
female_players_df = purchase_data.loc[purchase_data["Gender"] == "Female", :]
unique_female_players = female_players_df["SN"].unique()
num_unique_female_players = len(unique_female_players)

# "Other / Non-Disclosed"
other_players_df = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]
unique_other_players = other_players_df["SN"].unique()
num_unique_other_players = len(unique_other_players)
num_unique_other_players

# Percent
total_unique_players = num_unique_male_players + num_unique_female_players + num_unique_other_players
percent_unique_male_players = num_unique_male_players / total_unique_players * 100
percent_unique_female_players = num_unique_female_players / total_unique_players * 100
percent_unique_other_players = num_unique_other_players / total_unique_players * 100

# Summary Table
summary_table = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"], "Total Count": [num_unique_male_players, num_unique_female_players, num_unique_other_players], "Percentage of Players": [percent_unique_male_players, percent_unique_female_players, percent_unique_other_players]})
summary_table = summary_table.set_index("Gender")
summary_table

                       Total Count  Percentage of Players
Gender
Male                           484              84.027778
Female                          81              14.062500
Other / Non-Disclosed           11               1.909722

In [87]:
# "Male"
male_players_df = purchase_data.loc[purchase_data["Gender"] == "Male", :]
male_purchase_count = len(male_players_df["Purchase ID"])
male_avg_purchase_price = male_players_df["Price"].mean()
male_total_purchase_value = male_players_df["Price"].sum()
avg_total_purcase_per_male = male_total_purchase_value/num_unique_male_players

# "Female"
female_players_df = purchase_data.loc[purchase_data["Gender"] == "Female", :]
female_purchase_count = len(female_players_df["Purchase ID"])
female_avg_purchase_price = female_players_df["Price"].mean()
female_total_purchase_value = female_players_df["Price"].sum()
avg_total_purcase_per_female = female_total_purchase_value/num_unique_female_players

# "Male"
other_players_df = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]
other_purchase_count = len(other_players_df["Purchase ID"])
other_avg_purchase_price = other_players_df["Price"].mean()
other_total_purchase_value = other_players_df["Price"].sum()
avg_total_purcase_per_other = other_total_purchase_value/num_unique_other_players

# Summary Table
summary_table = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"], 
                             "Purchase Count": [male_purchase_count, female_purchase_count, other_purchase_count],
                             "Average Purchase Price": [male_avg_purchase_price, female_avg_purchase_price, other_avg_purchase_price],
                             "Total Purchase Value": [male_total_purchase_value, female_total_purchase_value, other_total_purchase_value],
                             "Avg Total Purchase per Person": [avg_total_purcase_per_male, avg_total_purcase_per_female, avg_total_purcase_per_other]})
summary_table = summary_table.set_index("Gender")
summary_table

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Male,652,3.017853,1967.64,4.065372
Female,113,3.203009,361.94,4.468395
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [117]:
# Age Demographics

#print(purchase_data["Age"].min())
#print(purchase_data["Age"].max())

bins = [0, 10, 14, 19, 24, 29, 34, 39, 100]
age_groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=age_groups)

num_age_10 = len(purchase_data.loc[purchase_data["Age Group"] == "<10", :]["SN"].unique())
num_age_14 = len(purchase_data.loc[purchase_data["Age Group"] == "10-14", :]["SN"].unique())
num_age_19 = len(purchase_data.loc[purchase_data["Age Group"] == "15-19", :]["SN"].unique())
num_age_24 = len(purchase_data.loc[purchase_data["Age Group"] == "20-24", :]["SN"].unique())
num_age_29 = len(purchase_data.loc[purchase_data["Age Group"] == "25-29", :]["SN"].unique())
num_age_34 = len(purchase_data.loc[purchase_data["Age Group"] == "30-34", :]["SN"].unique())
num_age_39 = len(purchase_data.loc[purchase_data["Age Group"] == "35-39", :]["SN"].unique())
num_age_100 = len(purchase_data.loc[purchase_data["Age Group"] == "40+", :]["SN"].unique())

total_unique_people = num_age_10 + num_age_14 + num_age_19 + num_age_24 + num_age_29 + num_age_34 + num_age_39 + num_age_100
pct_age_10 = num_age_10 / total_unique_people * 100
pct_age_14 = num_age_14 / total_unique_people * 100
pct_age_19 = num_age_19 / total_unique_people * 100
pct_age_24 = num_age_24 / total_unique_people * 100
pct_age_29 = num_age_29 / total_unique_people * 100
pct_age_34 = num_age_34 / total_unique_people * 100
pct_age_39 = num_age_39 / total_unique_people * 100
pct_age_100 = num_age_100 / total_unique_people * 100

summary_table = pd.DataFrame({"Age Groups": age_groups,
                             "Total Count": [num_age_10, num_age_14, num_age_19, num_age_24, num_age_29, num_age_34, num_age_39, num_age_100],
                             "Percentage of Players": [pct_age_10, pct_age_14, pct_age_19, pct_age_24, pct_age_29, pct_age_34, pct_age_39, pct_age_100]})
summary_table = summary_table.set_index("Age Groups")
summary_table

            Total Count  Percentage of Players
Age Groups
<10                  24               4.166667
10-14                15               2.604167
15-19               107              18.576389
20-24               258              44.791667
25-29                77              13.368056
30-34                52               9.027778
35-39                31               5.381944
40+                  12               2.083333

In [129]:
# Purchasing Analysis (Age)
purchase_data.head()

# <10
age_10_df = purchase_data.loc[purchase_data["Age Group"] == "<10", :]
age_10_purchase_count = len(age_10_df["Purchase ID"])
age_10_avg_purchase_price = age_10_df["Price"].mean()
age_10_total_purchase_price = age_10_df["Price"].sum()
age_10_avg_purchase_total_per_person = age_10_total_purchase_price/num_age_10


# 10-14
age_14_df = purchase_data.loc[purchase_data["Age Group"] == "10-14", :]
age_14_purchase_count = len(age_14_df["Purchase ID"])
age_14_avg_purchase_price = age_14_df["Price"].mean()
age_14_total_purchase_price = age_14_df["Price"].sum()
age_14_avg_purchase_total_per_person = age_14_total_purchase_price/num_age_14
age_14_avg_purchase_total_per_person

# 15-19
age_19_df = purchase_data.loc[purchase_data["Age Group"] == "15-19", :]
age_19_purchase_count = len(age_19_df["Purchase ID"])
age_19_avg_purchase_price = age_19_df["Price"].mean()
age_19_total_purchase_price = age_19_df["Price"].sum()
age_19_avg_purchase_total_per_person = age_19_total_purchase_price/num_age_19
age_19_avg_purchase_total_per_person

# 20-24
age_24_df = purchase_data.loc[purchase_data["Age Group"] == "20-24", :]
age_24_purchase_count = len(age_24_df["Purchase ID"])
age_24_avg_purchase_price = age_24_df["Price"].mean()
age_24_total_purchase_price = age_24_df["Price"].sum()
age_24_avg_purchase_total_per_person = age_24_total_purchase_price/num_age_24
age_24_avg_purchase_total_per_person

# 25-29
age_29_df = purchase_data.loc[purchase_data["Age Group"] == "25-29", :]
age_29_purchase_count = len(age_29_df["Purchase ID"])
age_29_avg_purchase_price = age_29_df["Price"].mean()
age_29_total_purchase_price = age_29_df["Price"].sum()
age_29_avg_purchase_total_per_person = age_29_total_purchase_price/num_age_29
age_29_avg_purchase_total_per_person

# 30-34
age_34_df = purchase_data.loc[purchase_data["Age Group"] == "30-34", :]
age_34_purchase_count = len(age_34_df["Purchase ID"])
age_34_avg_purchase_price = age_34_df["Price"].mean()
age_34_total_purchase_price = age_34_df["Price"].sum()
age_34_avg_purchase_total_per_person = age_34_total_purchase_price/num_age_34
age_34_avg_purchase_total_per_person

# 35-39
age_39_df = purchase_data.loc[purchase_data["Age Group"] == "35-39", :]
age_39_purchase_count = len(age_39_df["Purchase ID"])
age_39_avg_purchase_price = age_39_df["Price"].mean()
age_39_total_purchase_price = age_39_df["Price"].sum()
age_39_avg_purchase_total_per_person = age_39_total_purchase_price/num_age_39
age_39_avg_purchase_total_per_person

# 40+
age_40_df = purchase_data.loc[purchase_data["Age Group"] == "40+", :]
age_40_purchase_count = len(age_40_df["Purchase ID"])
age_40_avg_purchase_price = age_40_df["Price"].mean()
age_40_total_purchase_price = age_40_df["Price"].sum()
age_40_avg_purchase_total_per_person = age_40_total_purchase_price/num_age_100
age_40_avg_purchase_total_per_person


summary_table = pd.DataFrame({"Age Groups": age_groups,
                             "Purchase Count": [age_10_purchase_count, age_14_purchase_count, age_19_purchase_count, age_24_purchase_count, age_29_purchase_count, age_34_purchase_count, age_39_purchase_count, age_40_purchase_count],
                             "Average Purchase Value": [age_10_avg_purchase_price, age_14_avg_purchase_price, age_19_avg_purchase_price, age_24_avg_purchase_price, age_29_avg_purchase_price, age_34_avg_purchase_price, age_39_avg_purchase_price, age_40_avg_purchase_price],
                             "Total Purchase Value": [age_10_total_purchase_price, age_14_total_purchase_price, age_19_total_purchase_price, age_24_total_purchase_price, age_29_total_purchase_price, age_34_total_purchase_price, age_39_total_purchase_price, age_40_total_purchase_price],
                             "Avg Total Purchase per person": [age_10_avg_purchase_total_per_person, age_14_avg_purchase_total_per_person, age_19_avg_purchase_total_per_person, age_24_avg_purchase_total_per_person, age_29_avg_purchase_total_per_person, age_34_avg_purchase_total_per_person, age_39_avg_purchase_total_per_person, age_40_avg_purchase_total_per_person]})
summary_table = summary_table.set_index("Age Groups")
summary_table

,Purchase Count,Average Purchase Value,Total Purchase Value,Avg Total Purchase per person
Age Groups,,,,
<10,32,3.405000,108.96,4.540000
10-14,19,2.681579,50.95,3.396667
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667